.addCsv_box {
  margin: 0 auto;
  width: 600px;
}

.addCsv_box h2 {
  text-align: center;
}

.attention_text {
  margin: 20px 0 20px 0;
  color: #FF9933;
}

.upload_btn {
  display: flex;
  justify-content: center;
}

.btn_addCsv {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  padding: 8px 12px;
  margin: 10px 5px 0;
  background-color: #7db4e6;
  border-bottom: solid 2px rgba(0, 0, 0, .2);
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, .2), 0 2px 2px
      rgba(0, 0, 0, .2);
  color: #fff;
  background-color: #FF9933;
  border-radius: 30px;
  width: 120px;
  margin-top: 20px;
  border: none;
  border-bottom: solid 2px rgba(0, 0, 0, .2);
  outline: none;
  cursor: pointer;
}